<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    
    <bean id="user" class="org.course.spring.beans.User">
        <property name="roles">
            <list>
                <ref bean="rol1" />
                <ref bean="rol2" />
                <ref bean="rol3" />
            </list>
        </property>
    </bean>
    <bean id="rol1" class="org.course.spring.beans.Rol">
        <property name="name" value="Administrador"/>
    </bean>
    <bean id="rol2" class="org.course.spring.beans.Rol">
        <property name="name" value="Consulta"/>
    </bean>
    <bean id="rol3" class="org.course.spring.beans.Rol">
        <property name="name" value="Operador"/>
    </bean>
</beans>
    
