<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="usuario" class="beans.Usuario">
        <property name="lista">
            <list>
                <ref bean="rol1" />
                <ref bean="rol2" />
                <ref bean="rol3" />
            </list>
        </property>
    </bean>
    <bean id="rol1" class="beans.Rol">
        <property name="rol" value="Administrador"/>
    </bean>
    <bean id="rol2" class="beans.Rol">
        <property name="rol" value="Consulta"/>
    </bean>
    <bean id="rol3" class="beans.Rol">
        <property name="rol" value="Operador"/>
    </bean>
</beans>
    
