<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    
    <bean id="rol1" class="org.course.spring.beans.Rol" p:name="Rol 1"/>
    <bean id="rol2" class="org.course.spring.beans.Rol" p:name="Rol 2"/>
    <bean id="rol3" class="org.course.spring.beans.Rol" p:name="Rol 3"/>
    
    <bean id="profile" class="org.course.spring.beans.Profile"/>
    
    <bean id="person" class="org.course.spring.beans.Person" abstract="true" p:name="One person"/>
    
    <bean id="user" parent="person" class="org.course.spring.beans.User" p:password="Una Clave" p:profiles-ref="profile">
        <property name="roles">
            <list>
                <ref bean="rol1"/>
                <ref bean="rol2"/>
                <ref bean="rol3"/>
            </list>
        </property>
    </bean>
</beans>