<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 <!--Un "View Resolver". Le indicamos a Spring dónde encontrar nuestras páginas físicas-->
    <bean id="viewResolver"
       class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <bean id="delegadoMultiActionControler" class="controlers.DelegadoMultiActionControler"/>
    
    <bean name="login" class="springweb0005.beans.LoginImpl"/>
</beans>
