<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="usuario1" class="org.course.spring.beans.User">
        <property name="name" value="Usuario1"/>
        <property name="password" value="Clave1"/>
        <property name="age" value="30"/>
    </bean>
</beans>
