<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/paginas/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="primerControlador" class="controladores.PrimerControlador"/>
    <bean id="segundoControlador" class="controladores.SegundoControlador"/>
    <bean id="tercerControlador" class="controladores.TercerControlador"/>
    <bean id="cuartoControlador" class="controladores.CuartoControlador"/>
    <bean id="quintoControlador" class="controladores.QuintoControlador"/>
    <bean id="primerInterceptor" class="interceptors.PrimerInterceptor"/>
    <bean id="segundoInterceptor" class="interceptors.SegundoInterceptor"/>
    <bean id="tercerInterceptor" class="interceptors.TercerInterceptor"/>
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref bean="primerInterceptor"/>
                <ref bean="segundoInterceptor"/>
                <ref bean="tercerInterceptor"/>
            </list>
        </property>
        <property name="urlMap">
            <map>
                <entry key="/primera.curso" value-ref="primerControlador"/>
                <entry key="/segunda.curso" value-ref="segundoControlador"/>
            </map>
        </property>
        <property name="mappings">
            <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
                <property name="location" value="WEB-INF/urlmap.properties"/>
            </bean>
        </property>
    </bean>
</beans>