<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    ">
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <bean id="primerController"  class="org.course.spring.controllers.PrimerController"/>
    <bean id="segundoController" class="org.course.spring.controllers.SegundoController"/>
    <bean id="tercerController"  class="org.course.spring.controllers.TercerController"/>
    <bean id="cuartoController"  class="org.course.spring.controllers.CuartoController"/>
    <bean id="quintoController"  class="org.course.spring.controllers.QuintoController"/>
    
    <bean id="primerInterceptor" class="org.course.spring.interceptors.PrimerInterceptor"/>
    <bean id="segundoInterceptor" class="org.course.spring.interceptors.SegundoInterceptor"/>
    <bean id="tercerInterceptor" class="org.course.spring.interceptors.TercerInterceptor"/>
    
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref bean="primerInterceptor"/>
                <ref bean="segundoInterceptor"/>
                <ref bean="tercerInterceptor"/>
            </list>
        </property>
        <property name="urlMap">
            <map>
                <entry key="/primera.course" value-ref="primerController"/>
                <entry key="/segunda.course" value-ref="segundoController"/>
            </map>
        </property>
        <property name="mappings">
            <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
                <property name="location" value="WEB-INF/urlmap.properties"/>
            </bean>
        </property>
    </bean>
    
</beans>