<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 <!--Un "View Resolver". Le indicamos a Spring dónde encontrar nuestras páginas físicas-->
    <bean id="viewResolver"
       class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/paginas/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
 <!--Declaraciones de los beans escritos por nosotros-->
 <!--El controlador múltiple-->
    <bean name="delegadoMultiAccion"
       class="springweb0005.controladores.DelegadoMultiAccion"/>
 <!--El "comando" para enlace de datos con el formulario-->
    <bean name="login" class="springweb0005.beans.LoginImpl"/>
 <!--El validador del formulario-->
    <bean name="loginValidator"
       class="springweb0005.beans.validators.LoginValidator"/>
 <!--Nuestro servicio de autenticacion-->
    <bean name="servicioLogin"
       class="springweb0005.beans.servicios.ServicioLoginImpl"/>
</beans>